.about
  &-wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
  &-right
    display: block
  &-text
    width: 43%
    font-size: 21px
    text-align: justify
  &-info
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: auto
    margin-right: 20px
    width: 17%
    align-self: stretch
    &-title
      display: block
      +title-bold
      font-size: 64px
      line-height: 1
      color: $color-element
      margin-bottom: 20px
    &-subtitle
      display: block
      font-size: 18px
      line-height: 1
      color: #797979
  &-img
    align-self: stretch
    
    
