.advantages
  &-wrap
    display: flex
    justify-content: space-between
  &-item
    width: 24%
  &-icon
    margin-bottom: 50px
  &-title
    font-size: 20px
    line-height: 1
    margin-bottom: 20px
  &-subtitle
    font-size: 16px
    line-height: 1.5
    color: #797979