@font-face {
  font-family: 'Playfair Display Bold';
  font-display: swap;
  src: url('../fonts/PlayfairDisplay/');
  src: url('../fonts/PlayfairDisplay/?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/');
  src: url('../fonts/HelveticaNeueCyr/?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin title-bold {
  font-family: 'Playfair Display Bold', sans-serif;
}

@mixin thin {
  font-family: 'Helvetica Neue Cyr Thin', sans-serif;
}

@mixin light {
  font-family: 'Helvetica Neue Cyr Light', sans-serif;
}

@mixin regular {
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
}

@mixin medium {
  font-family: 'Helvetica Neue Cyr Medium', sans-serif;
}
