@font-face {
  font-family: 'Proxima Nova Light';
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extrabld';
  font-display: swap;
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin light {
  font-family: 'Proxima Nova Light', sans-serif;
}

@mixin regular {
  font-family: 'Proxima Nova Regular', sans-serif;
}

@mixin semibold {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@mixin bold {
  font-family: 'Proxima Nova Bold', sans-serif;
}

@mixin extrabld {
  font-family: 'Proxima Nova Extrabld', sans-serif;
}
