.order
  margin: 0
  padding: 200px 0
  background-image: url('../img/bg-order.png')
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
  &-img
    margin-left: -120px
  .section-title
    font-size: 40px
    color: #ffffff
    margin-bottom: 25px
  &-subtitle
    font-size: 24px
    line-height: 1.2
    color: #797979
    margin-bottom: 25px
  &-input-wrap
    display: flex
    flex-direction: column
    margin-bottom: 40px
  &-button-wrap
    display: flex
    align-items: baseline
    justify-content: space-between
    flex-flow: wrap
    .button
      border: none
      cursor: pointer
      img
        margin-left: 16px
  .input
    height: 50px
    background-color: #3B3B3B
    border-radius: 5px
    border: none
    placeholder: #ffffff
    color: #ffffff
    padding-left: 20px
    font-size: 18px
  .input:nth-child(1)
    margin-bottom: 20px
  input[type="text"]::placeholder
    color: #ffffff
  .file-upload
    background-color: #585858
    label
      display: flex
      align-items: center
      cursor: pointer
    &:hover
      background-color: $color-element
    input[type="file"]
      display: none
    span
      margin-right: 16px

@media (max-width: 1199px)
  .order
    &-img
      width: 70%
    &-input-wrap
      // margin-bottom: 20px
    .file-upload
      margin-bottom: 20px

@media (max-width: 991px)
  .order
    background-size: cover
    padding: 100px 0
    &-img
      width: 90%
      margin-left: 0px
    &-wrap
      flex-direction: column
    .section-title
      font-size: 42px
    &-button-wrap
      justify-content: flex-start
    .file-upload
      margin-right: 30px
  
@media (max-width: 767px)
  .order
    background-size: cover
    &-img
      width: 100%
    .section-title
      font-size: 36px
      text-align: center
    &-subtitle
      font-size: 20px
      text-align: center
    &-button-wrap
      justify-content: center
      align-items: center
    .file-upload
      margin-right: 0px
    &-input-wrap
      margin-bottom: 20px
  