.quiz
  margin: 60px 0
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    padding-right: 100px
  &-title
    font-size: 24px
    line-height: 1.5
    +medium
    margin-bottom: 20px
  &-subtitle
    font-size: 18px
    line-height: 1.5